<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  
  <system.serviceModel>
    <services>
      <service name="Service.CBattleship">
          <endpoint address="Battleship" binding="wsDualHttpBinding" contract="Service.IBattleship"/>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

          <endpoint address="Chat" binding="wsDualHttpBinding" contract="Service.IChat"/>
          <endpoint address="mexChat" binding="mexHttpBinding" contract="IMetadataExchange" />

        <endpoint address="Lobby" binding="wsDualHttpBinding" contract="Service.ILobby"/>
        <endpoint address="mexLobby" binding="mexHttpBinding" contract="IMetadataExchange" />
  
        
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/Service/CBattleship/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <wsDualHttpBinding>
        <binding name="wsDualHttpBinding">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
